[user]
	name = Davis Whitehead
	email = whitehead.davis@gmail.com
[core]
	editor = /usr/bin/vim
[credential]
	helper = osxkeychain
[init]
	templatedir = ~/.git_template
[filter "spabs"]
    clean = expand -t 4
    smudge = expand -t 4
    required
[merge]
    renormalize = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
